{% extends 'app/base.html' %}
{% load static %}
{% block title %}Password Reset{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
 <h3>Welcome {{request.user}}</h3>
  <div class="col-sm-2 border-end">
   <ul class="list-unstyled">
    <li class="d-grid"><a href="{% url 'profile' %}" class="btn btn-primary">Reset Password</a></li>
   </ul>
  </div>
  <div class="col-sm-9 offset-sm-1 text-center">
    
    <h3> A mail is sent to your mail confirm there </h3>
  </div>
 </div>
</div>
{% endblock main-content %}