{% extends 'app/base.html' %}
{% load static %}
{% block title %}Product Detail{% endblock title %}
{% block main-content %}
<style>

    .box {
        background: linear-gradient(to right, gold, darkorange);
        color: white;
        --width: 200px;
        --height: calc(var(--width) / 3);
        width: var(--width);
        height: var(--height);
        text-align: center;
        line-height: var(--height);
        font-size: calc(var(--height) / 2.5);
        font-family: sans-serif;
        letter-spacing: 0.2em;
        border: 1px solid darkgoldenrod;
        border-radius: 2em;
        transform: perspective(500px) rotateY(-15deg);
        text-shadow: 6px 3px 2px rgba(0, 0, 0, 0.2);
        box-shadow: 2px 0 0 5px rgba(0, 0, 0, 0.2);
        transition: 0.5s;
        position: relative;
        overflow: hidden;
      }
      
      .box:hover {
        transform: perspective(500px) rotateY(15deg);
        text-shadow: -6px 3px 2px rgba(0, 0, 0, 0.2);
        box-shadow: -2px 0 0 5px rgba(0, 0, 0, 0.2);
      }
      
      .box::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(to right, transparent, white, transparent);
        left: -100%;
        transition: 0.5s;
      }
      
      .box:hover::before {
        left: 100%;
      }


</style>
<div class="container my-5">
 <div class="row">
  <div class="col-sm-6 text-center align-self-center">  
   <img src="{{ product.product_image.url}}" alt="" class="img-fluid img-thumbnail">
  </div>
  <div class="col-sm-5 offset-sm-1">
   <h2>Product Title: {{product.title}}</h2>
   <hr>
   <p>Product Description: {{product.discription}}</p> <br>
   <h4>Rs. {{ product.discount_price}} <small class="fw-light text-decoration-line-through"><s> {{product.selling_price}}</s></small></h4> <br>
   <form action="/add_to_cart" class="d-inline">
    <input type="hidden" value={{product.id}} name="prod_id" id="prod_id">
    <div class="box">
    <button type="submit" style=" border-radius: 33px;text-shadow: 2px 0 1px black;" class="btn btn-primary shadow px-5 py-2"> Add to Cart</button>
    </div>
    <br>
    <div class="box">
        <a href="{% url 'checkout' %}" class="btn btn-danger shadow px-5 py-2 ">Buy Now</a>
        </div>
   </form>
   {% comment %} <a href="{% url 'add-to-cart' %}" class="btn btn-primary shadow px-5 py-2">Add to Cart</a> {% endcomment %}
   
   
   <h5 class="mt-5">Available Offers</h5>
   <ul>
    <li>Bank Offer 5% Unlimited Cashback on Flipkart Axis Bank Credit</li>
    <li>Special Price Get extra ₹3000 off (price inclusive of discount)</li>
    <li>No cost EMI ₹1,667/month. Standard EMI also available</li>
    <li>Partner Offer ₹2000 Flipkart Gift Card on Every 1000th Transaction with a new Visa Debit/Credit Card</li>
   </ul>
  </div>
 </div>
</div>
{% endblock main-content %}